.body {
    position: relative;
    width: 100%;
    height: 100%;

    background: #DDA0DD;

}

.ftperfil {
position: absolute;
width: 212px;
height: 220px;
left: 79px;
top: 77px;

background: url(image);
border-radius: 129.5px;
}

.nome {
    position: absolute;
    width: 185px;
    height: 76px;
    left: 339px;
    top: 127px;

    font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;

    color: #000000;
}

.idade {
    position: absolute;
    width: 303px;
    height: 63px;
    left: 139px;
    top: 328px;

   font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;

    color: #000000;

}

.hobbies {
    position: absolute;
    width: 253px;
    height: 171px;
    left: 139px;
    top: 398px;

    font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;

    color: #000000;
}

.gostomusical {
    position: absolute;
    width: 481px;
    height: 75px;
    left: 838px;
    top: 512px;

    font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;

    color: #000000;

}

.imghobby img{
    position: absolute;
    width: 289px;
    height: 423px;
    left: 121px;
    top: 576px;

    background: url(image);
    border-radius: 57px;
}

.music1 img{
    position: absolute;
width: 244px;
height: 374px;

background: url(image);
border-radius: 45px;
}

.music2 img{
    position: absolute;
    width: 250px;
    height: 374px;

    background: url(image);
    border-radius: 45px;
}

.music3 img{
    position: absolute;
    width: 247px;
    height: 374px;
    left: 1158px;
    top: 625px;

    background: url(image);
    border-radius: 45px;
}