 body {
    background: #87CEFA;
}

.retangulo1 {
  position: absolute;
  width: 100%;
  height: 170px;

  background: #67BAED;
}

.title {
    display: flex;
   /* width: 825px; */
   /* height: 182px; */
   /* left: 307px; */
    padding: auto;
    justify-content: space-around;

    font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
   line-height: 115px;
    /*text-align: center;*/

    color: #000000;
}
.meio{
    display: flex;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 75%;

}
.text1 {
    /*width: 314px;*/
    /*height: 276px;*/
    /*left: 69px;*/
    /*top: 345px;*/

    font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
}

.ftgrupo img{
    /*position: absolute;*/
    width: 578px;
    height: auto;
    /*left: 427px;*/
    /*top: 318px;*/

    /*background: url(ft);*/
}
.ftgrupo :hover{
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

.text2 {
    /*position: absolute;
    width: 217px;
    height: 350px;
    left: 1086px;*/
    top: 334px;

    font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: right;

    color: #000000;

}

/*.retagunlo2 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 300;
    margin-top: 60%;
    justify-items: space-between;
    align-items: center;

}*/
/*.retagunlo2 {
        position: absolute;
        width: 100%;
        height: 900px;
        align-items: center;
        justify-items: flex-end;
    
        background: #67BAED;    
}*/
ul {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 15px;
    /*vertical-align: bottom;*/
}

.ftvitoria img{
    position: relative;
    /* width: 825px; */
    /* height: 182px; */
    /* left: 307px; */
     padding: auto;
     justify-content:space-between;

    background: url(image);
    border-radius: 239px;
}

.ftemi img{
     position: relative;
    /* width: 825px; */
    /* height: 182px; */
    /* left: 307px; */
     padding: auto;
     justify-content:space-between;

    background: url(image);
    border-radius: 239px;
}

.ftbruna img{
    position: relative;
    /* width: 825px; */
    /* height: 182px; */
    /* left: 307px; */
     padding: auto;
     justify-content:space-between;

    background: url(image);
    border-radius: 239px;
}

.ftcamila img{
    position: relative;
    /* width: 825px; */
    /* height: 182px; */
    /* left: 307px; */
     padding: auto;
     justify-content:space-between;

    background: url(image);
    border-radius: 239px;
}
.ftvitoria :hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.ftbruna :hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.ftemi :hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.ftcamila :hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}