body {
    display: flex;
    flex-direction: row;
    background: #DDA0DD;

}

.topo {
  justify-content: space-between;
  aling-content: left;

}
.ftperfil {
  position: relative;
  top: 20px;
  left: 20px;
  width: 15%;
  height: auto;
  
  background: url(image);
  border-radius: 129.5px;
}
.nome {

    position: relative
    left:400px
    top: 20px;

    /*width: 185px;
    height: 76px;
    left: 339px;
    top: 127px;*/

    font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;

    color: #000000;
}

.idade {
    flex-direction:
    /*position: absolute;

    width: 303px;
    height: 63px;
    left: 139px;
    top: 328px;*/
    

   font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;

    color: #000000;

}
.hobbies {

}





