    body {
    display: flex;

    background: #DDA0DD;

}
/*.topo {
  justify-content: space-between;
  align-items: left;*/
/*ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 15px;

    font-family: 'Girassol';
    font-style: normal;
    font-weight: 150;
    font-size: 50px;

    color: #000000;
}
*/
/*.pia {
  margin-left: 100px;
  margin-top: 130px;
}
.ftperfil {
    width: 15%;
    height: auto;

    background: url(image);
    border-radius: 129.5px;
}*/

.nome {
    width: 185px;
    height: 76px;


    font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;

    color: #000000;
}

.idade {
   font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;

    color: #000000;

}

.hobbies {
    font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;

    color: #000000;
}

.gostomusical {
    font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;

    color: #000000;

}

/*.imghobby img{
    
    background: url(image);
    border-radius: 57px;
}
*/
.music1 img{
width: 244px;
height: 374px;

background: url(image);
border-radius: 45px;
}

.music2 img{
    width: 250px;
    height: 374px;

    background: url(image);
    border-radius: 45px;
}

.music3 img{
    width: 247px;
    height: 374px;

    background: url(image);
    border-radius: 45px;
}
